<h1>Pousadas</h1>

<h2 class="text-center m-4">Mais recentes</h2>
<ul class="nav justify-content-center">
  <% @recent_inns.each do |inn| %>
    <div class="card text-center" style="width: 18rem;">
      <%= image_tag "pousada.jpeg", class: "card-img-top"%>
      <div class="card-body">
        <%= link_to inn.full_description, show_inn_path(inn), class: "card-title btn btn-success text-white" %>
      </div>
    </div>
  <% end %>
</ul>

<h2 class="text-center m-4">Outras</h2>
<ul class="nav justify-content-center">
  <% @inns.each do |inn| %>
    <div class="card text-center" style="width: 18rem;">
      <%= image_tag "pousada.jpeg", class: "card-img-top"%>
      <div class="card-body">
      <%= link_to inn.full_description, show_inn_path(inn), class: "card-title btn btn-success text-white"%>
      </div>
    </div>
  <% end %>
</ul>