<h1>Pousadas</h1>

<h2>Mais recentes</h2>
<ul>
  <% @recent_inns.each do |inn| %>
    <li>
      <%= link_to inn.address.full_city, show_inn_path(inn) %>
    </li>
  <% end %>
</ul>

<h2>Outras</h2>
<ul>
  <% @inns.each do |inn| %>
    <li>
      <%= link_to inn.address.full_city, show_inn_path(inn) %>
    </li>
  <% end %>
</ul>