<h1>Pousadas</h1>

<h2>Mais recentes</h2>
<ul>
  <% @recent_inns.each do |inn| %>
    <li>
      <%= link_to inn.brand_name, show_inn_path(inn) %> - <%= inn.address.city %>
    </li>
  <% end %>
</ul>

<h2>Outras</h2>
<ul>
  <% @inns.each do |inn| %>
    <li>
      <%= link_to inn.brand_name, show_inn_path(inn) %> - <%= inn.address.city %>
    </li>
  <% end %>
</ul>